---
const { href, title, description, img, active } = Astro.props;
---
<div>
    <h1 class="text-white"> {title}</h1>
    {active == 1 && (  <figure class="relative h-96 w-full">
        <img
          class="h-full w-full rounded-xl object-cover object-center"
          src={img}
          alt="nature image"
        />
        <figcaption class="absolute bottom-10 left-2/4 flex w-[calc(100%-4rem)] -translate-x-2/4 justify-between rounded-xl border border-blue-900 bg-blue-950 py-4 px-6 shadow-lg shadow-black/5 saturate-200 backdrop-blur-sm">
          <div>
           
            <span  class="mt-2 font-normal text-white">
              {description}
            </span>
          </div>
          <a href={href} target="_blank" class=" font-normal text-white uppercase">
                ver
        </a>
       
        </figcaption>
      </figure>) }
  
</div>