---
import { dataExperiencie, type IDataExperiencie } from "../helpers/Dummy/Data";
import Title from "./Title.astro";


---

<Title title="Experiencia Laboral" />

{
    dataExperiencie.map((r):  IDataExperiencie => (
      <div
        
        class="relative flex flex-col mt-6   text-gray-700 bg-slate-950 border border-1 border-white  shadow-md bg-clip-border rounded-xl hover:bg-blue-950 hover:shadow-orange-200"
      >
        <div class="p-6">
          <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-white">
           <span>&rarr;</span> {' '}{r.role}
          </h5>
          <p class="block font-sans text-base antialiased font-light leading-relaxed text-white">
          {r.company}
          </p>
          <p class="block font-sans text-base antialiased font-light leading-relaxed text-white">
          {r.duraction}
          </p>
        </div>
      </div>
    ))
  }